@model IEnumerable<Cinema_Hope.Models.Seat>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>صفحة المقاعد</h1>

<a class="btn btn-secondary btn-lg" asp-action="Create">
    <i class="bi bi-plus-circle-dotted"></i>
    اضافة مقعد جديد
</a>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Screen)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBookedUp)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Screen.Cinema.Name - الشاشه رقم @item.Screen.ScreenNumber
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RowNumber)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.IsBookedUp)
                </td>

                <td>
                    <a class="btn btn-info rounded rounded-3 me-2"  asp-action="Edit" asp-route-id="@item.SeatId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SeatId">Details</a> |
                    <a class="btn btn-danger rounded rounded-3 js-delete" data-id="@item.SeatId">
                        <i class="bi bi-trash3"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {

                var btn = $(this);

                const swal = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-danger mx-2',
                        cancelButton: 'btn btn-light'
                    },
                    buttonsStyling: false
                });
                swal.fire({
                    title: 'Are you sure that you need to delete this Seat?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `/Seats/Delete/${btn.data('id')}`,
                            method: 'DELETE',
                            success: function () {
                                swal.fire(
                                    'Deleted!',
                                    'Seat has been deleted.',
                                    'success'
                                );
                                btn.parents('tr').fadeOut();
                            },
                            error: function () {
                                swal.fire(
                                    'Oooops...',
                                    'Something went worng.',
                                    'error'
                                );
                            }
                        });
                    }
                });
            });
        });
    </script>
}