@model IEnumerable<Cinema_Hope.Models.ShowTime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-secondary btn-lg" asp-action="Create">
    <i class="bi bi-plus-circle-dotted"></i>
    اضافة عرض جديد
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @item.Screen.Cinema.Name - الشاشه رقم @item.Screen.ScreenNumber
                </td>
                <td>
                    <a class="btn btn-info rounded rounded-3 me-2" asp-action="Edit" asp-route-id="@item.ShowTimeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ShowTimeId">Details</a> |
                    <a class="btn btn-danger rounded rounded-3 js-delete" data-id="@item.ShowTimeId">
                        <i class="bi bi-trash3"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>






@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {

                var btn = $(this);

                const swal = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-danger mx-2',
                        cancelButton: 'btn btn-light'
                    },
                    buttonsStyling: false
                });
                swal.fire({
                    title: 'Are you sure that you need to delete this ShowTime?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `/ShowTimes/Delete/${btn.data('id')}`,
                            method: 'DELETE',
                            success: function () {
                                swal.fire(
                                    'Deleted!',
                                    'ShowTime has been deleted.',
                                    'success'
                                );
                                btn.parents('tr').fadeOut();
                            },
                            error: function () {
                                swal.fire(
                                    'Oooops...',
                                    'Something went worng.',
                                    'error'
                                );
                            }
                        });
                    }
                });
            });
        });
    </script>
}
