@model IEnumerable<Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>صفحة الحجوزات</h1>

<a class="btn btn-secondary btn-lg" asp-action="Create">
    <i class="bi bi-plus-circle-dotted"></i>
    اضافة حجز جديد
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                [@item.Showtime.ShowTimeId] - @item.Showtime.StartTime
            </td>
            <td>
                رقم المقعد:@item.Seat.SeatNumber - رقم الصف:@item.Seat.RowNumber
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                    <a class="btn btn-info rounded rounded-3 me-2" asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                    <a class="btn btn-danger rounded rounded-3 js-delete" data-id="@item.BookingId">
                        <i class="bi bi-trash3"></i>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {

                var btn = $(this);

                const swal = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-danger mx-2',
                        cancelButton: 'btn btn-light'
                    },
                    buttonsStyling: false
                });
                swal.fire({
                    title: 'Are you sure that you need to delete this Booking?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `/Bookings/Delete/${btn.data('id')}`,
                            method: 'DELETE',
                            success: function () {
                                swal.fire(
                                    'Deleted!',
                                    'Booking has been deleted.',
                                    'success'
                                );
                                btn.parents('tr').fadeOut();
                            },
                            error: function () {
                                swal.fire(
                                    'Oooops...',
                                    'Something went worng.',
                                    'error'
                                );
                            }
                        });
                    }
                });
            });
        });
    </script>
}
